<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>

    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>{{ titulo }}</h1>

    <!-- Se pasa la variable en el contexto y se itera para obtener cada elemento -->
    <ul>
        {% for item in items %}
            <li>{{ item.nombre }} | $ {{ item.precio }}</li>
        {% endfor %}
    </ul>

    {% comment %} <p>
        {{ request.user }}
    </p> {% endcomment %}
</body>
</html>